<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SampleApp.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>org.reactjs.native.example.SampleApp</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Jochen Delabie (QRH5VT8G7F)</string>
		<key>Team</key>
		<string>RHGF6897AW</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2022-06-27T07:51:42Z</date>
	<key>Name</key>
	<string>SampleApp</string>
	<key>SchemeName</key>
	<string>SampleApp</string>
</dict>
</plist>
